@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    overflow-x: hidden;
}

section.section-one{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: rgb(233, 130, 12);
}

span.quadrado-one{
    width: 20%;
    height: 30%;
    border: 2px solid rgb(207, 12, 12);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) skewX(-20deg);
}

span.quadrado-two{
    width: 15%;
    height: 30%;
    background-color:  rgb(207, 12, 12);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%) skewX(-20deg);
}

span.quadrado-tree{
    width: 40%;
    height: 30%;
    border: 2px solid rgb(207, 12, 12);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%) skewX(-20deg);
}

section.section-two{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: min(90%, 1200px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.left{
    flex: 1 1 300px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container do quadrado vermelho */
.right{
    flex: 1 1 300px;
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
}

/* quadrado vermelho */
.right-content{
    position: relative;
    width: clamp(50%, 200px, 90%);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 7, 7);
    border-radius: 15px;
}

/* quadrado do lado esquerdo */
.right-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(-50%, -50%) skewX(-10deg);
    width: 50%;
    height: 40%;
    border: 2px solid rgb(247, 172, 10);
}

/* quadrado do lado direito */
.right-content::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: translate(50%, 50%) skewX(-10deg);
    width: 50%; 
    height: 40%;
    background-color:rgb(247, 172, 10);
    
}
/* Pode colocar um width mínimo para os quadrados não se deformarem tanto */
.right-content h3{
    color: rgb(247, 172, 10);
}

.right-content p{
    color: #fff;
}

.botao-box{
    display: flex;
    flex-direction: column;
}
.botao-comprar{
    border: 2px solid #FF5E00;
    color: #FF5E00;
    font-size: 13px;
    max-width: 268px;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.botao-whats{
    border: 2px solid #25D366;
    color: #25D366;
    font-size: 13px;
    max-width: 268px;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.botao-video{
    border: 2px solid #25D366;
    color: #25D366;
    font-size: 13px;
    max-width: 268px;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.botao-comprar img,
.botao-whats img,
.botao-video img{
    margin-right: 10px;
}


section.blog{
    width: 100%;
}
.card-blog-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}
.card-blog{
    position: relative;
    max-width: 400px;
    width: 100%;
    min-height: 450px;
    flex: 1 1 450px;
    margin: 0 10px;
}

.card-blog .blog-img{
    position: relative;
    width: 100%;
    height: 240px;
    overflow: hidden;
}
.card-blog .blog-img a{
    position: relative;
    width: 100%;
    height: 240px;
}
.card-blog .blog-img a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.card-blog .blog-img:hover a img{
    transform: scale(1.1);
    transition: 0.5s;
}

.card-blog .blog-content{
    width: 100%;
    padding: 20px 30px;
}

.card-blog .blog-content .blog-title a{
    color: #9696A0;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.card-blog .blog-content .blog-text{
    color: #9696A0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    margin: 10px 0;
}

.card-blog .blog-content .blog-readmore{
    position: relative;
    color: #FF5E00;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 25px;
    text-decoration: none;
}

.card-blog .blog-content .blog-readmore::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #FF5E00;
    transition: 0.5s;
}

.card-blog .blog-content .blog-readmore:hover::after{
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0%;
    height: 1px;
    background-color: #FF5E00;
    transition: 0.5s;
}



/* Botão do whats sofá */

/* botao do whatsapp */
.btn-whatsapp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}
.btn-whatsapp .icone-whatsapp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: var(--qode-main-color);
    background-image: url(assets/img/icons/Icon-whatsapp.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    border-radius: 50%;
    cursor: pointer;
}

.btn-whatsapp .whatsapp-text{
    position: absolute;
    top: 50%;
    right: 60px;
    z-index: 99999;
    transform: translate(0,-50%);
    width: 240px;
    text-align: center;
    color: #fff;
    background-color: var(--laranja);
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00000057;
    animation: whts 3s infinite;
    cursor: pointer;
    transition: display 0.5s;
}

.btn-whatsapp .whatsapp-text::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%,-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: var(--laranja);
    /* box-shadow: 0px 0px 5px 1px #00000057; */
}

.btn-whatsapp .links-container{
    right: -105%;
    opacity: 0;
    display: none;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 0px 10px 0px #00000057;
}

.btn-whatsapp .links-container.active{
    position: absolute;
    bottom: 60px;
    right: 5px;
    background-color: var(--laranja);
    border-radius: 10px;
    padding: 10px 20px;
    width: 290px;
    opacity: 1;
    display: block;
    transition: 0.5s ease-in-out;
}

.btn-whatsapp .links-container::after{
    content: '';
    position: absolute;
    top: 100%;
    right: 20px;
    transform: translate(50%,-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: var(--laranja);
}

.btn-whatsapp .links-container h3{
    font-weight: 300;
    font-size: 25px;
    text-transform: initial;
    color: #fff;
    margin: 15px 0 0px 0;
}

.btn-whatsapp .links-container .links-box {
    margin: 30px 0 20px;
}

.btn-whatsapp .links-container .links-box a{
    display: block;
    padding: 10px 10px;
    margin: 8px 0;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 3px;
    color: var(--laranja);
    transition: 0.5s;
}

.btn-whatsapp .links-container .links-box a:hover{
    display: block;
    padding: 10px 10px;
    margin: 8px 0;
    border: 1px solid #fff;
    background-color: var(--laranja);
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    transition: 0.5s;
}


@keyframes whts {
    0%{
        right: 75px;
    }
    50%{
        right: 60px;
    }
    100%{
        right: 75px;
    }
}

@media screen and (max-width: 370px) {
    .btn-whatsapp .whatsapp-text{
        top: -105px;
        right: 0;
        transform: translate(0,-25px);;
        width: 126px;
        animation: whtsMobile 3s infinite;
        display: none;
    }
    
    .btn-whatsapp .whatsapp-text::after{
        content: '';
        position: absolute;
        top: 100%;
        bottom: 0;
        right: 24px;
        width: 10px;
        height: 10px;
        background-color: var(--laranja);
    }
}

@keyframes whtsMobile {
    0%{
        top: -105px;
    }
    50%{
        top: -120px;
    }
    100%{
        top: -105px;
    }
}
