@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    overflow-x: hidden;
}

section.section-one{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: rgb(233, 130, 12);
}

span.quadrado-one{
    width: 20%;
    height: 30%;
    border: 2px solid rgb(207, 12, 12);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) skewX(-20deg);
}

span.quadrado-two{
    width: 15%;
    height: 30%;
    background-color:  rgb(207, 12, 12);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%) skewX(-20deg);
}

span.quadrado-tree{
    width: 40%;
    height: 30%;
    border: 2px solid rgb(207, 12, 12);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%) skewX(-20deg);
}

section.section-two{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: min(90%, 1200px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.left{
    flex: 1 1 300px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* container do quadrado vermelho */
.right{
    flex: 1 1 300px;
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
}

/* quadrado vermelho */
.right-content{
    position: relative;
    width: clamp(50%, 200px, 90%);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 7, 7);
    border-radius: 15px;
}

/* quadrado do lado esquerdo */
.right-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translate(-50%, -50%) skewX(-10deg);
    width: 50%;
    height: 40%;
    border: 2px solid rgb(247, 172, 10);
}

/* quadrado do lado direito */
.right-content::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: translate(50%, 50%) skewX(-10deg);
    width: 50%; 
    height: 40%;
    background-color:rgb(247, 172, 10);
    
}
/* Pode colocar um width mínimo para os quadrados não se deformarem tanto */
.right-content h3{
    color: rgb(247, 172, 10);
}

.right-content p{
    color: #fff;
}

.botao-box{
    display: flex;
    flex-direction: column;
}
.botao-comprar{
    border: 2px solid #FF5E00;
    color: #FF5E00;
    font-size: 13px;
    max-width: 268px;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.botao-whats{
    border: 2px solid #25D366;
    color: #25D366;
    font-size: 13px;
    max-width: 268px;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.botao-video{
    border: 2px solid #25D366;
    color: #25D366;
    font-size: 13px;
    max-width: 268px;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.botao-comprar img,
.botao-whats img,
.botao-video img{
    margin-right: 10px;
}
